/*
  Self-hosted, Latin-subset variable fonts (see public/fonts/).
  OFL license texts live alongside the woff2 files. Not loaded from any CDN.
  Archivo is a single variable file carrying both wdth (62-125) and wght
  (100-900), so it serves condensed display and normal body from one download.
*/

@font-face {
  font-family: "Archivo Variable";
  src: url("/fonts/archivo-latin-var.woff2") format("woff2");
  font-weight: 100 900;
  font-stretch: 62% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/jetbrains-mono-latin-var.woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
